body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#game {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    aspect-ratio: 16 / 9;

    margin: 0;
    padding: 0;
    overflow: unset;
    overflow-clip-margin: unset;
}